<!DOCTYPE html>
<html lang="en" ng-app="vizApp" >
<meta charset="utf-8">
<link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" >
<link href="nvd3-master/src/nv.d3.css" rel="stylesheet" type="text/css" >
<style>

body {
  overflow-y:scroll;
}

text {
  font: 12px sans-serif;
}

svg {
  display: block;
}

#chart1 svg {
  height: 500px;
  min-width: 200px;
  min-height: 100px;
/*
  margin: 50px;
  Minimum height and width is a good idea to prevent negative SVG dimensions...
  For example width should be =< margin.left + margin.right + 1,
  of course 1 pixel for the entire chart would not be very useful, BUT should not have errors
*/

}
#chart1 {
  margin-top: 200px;
  margin-left: 100px;
}


</style>


<body class='with-3d-shadow with-transition' ng-controller="MeasurementCtrl" >

<h1>NVD3 Sample Graph</h1>


<div  id='selection' class='col-md-12 ng-cloak' ng-cloak >
    <form name="selectdata">
    <div class="col-md-2">
        <select ng-model="measurement" name="measurement" ng-change="get_samples()" >
            <option ng-repeat="meas in measurements"  >{{meas}}</option>
        </select>
    </div>
    <div class="col-md-10" >
        <label ng-hide="!measurement" class='checkbox-inline' ng-repeat="sample in allsamples" >
            <input name="selectedSamples[]" ng-checked="selection.indexOf(sample) > -1" ng-click="toggleSelection(sample)"  type="checkbox"  value={{sample}}>{{sample}}
        </label>
         <!--
         <select multiple  ng-model="samples" name="samples" ng-hide="!measurement" ng-options="sample for sample in allsamples" ng-change="get_data()">
        </select>
        --> 
    </div> 

    <div class="col-md-4"  >
        <button type="button" ng-disabled="selection.length == 0" ng-click="get_data()" class="btn btn-primary btn-lg">Get Sample Data</button>
    </div>
    selection = {{selection}}
    <br>
    data = {{data}}
    </form>

    <div  id="chart1" class="col-12">
        <svg style="height: 500px;"></svg>
    </div>

</div>

<script src="bower_components/angular/angular.js"></script>
<script src="js/controllers.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="nvd3-master/nv.d3.js"></script>
<script src="nvd3-master/src/tooltip.js"></script>
<script src="nvd3-master/src/utils.js"></script>
<script src="nvd3-master/src/interactiveLayer.js"></script>
<script src="nvd3-master/src/models/legend.js"></script>
<script src="nvd3-master/src/models/axis.js"></script>
<script src="nvd3-master/src/models/scatter.js"></script>
<script src="nvd3-master/src/models/line.js"></script>
<script src="nvd3-master/src/models/lineChart.js"></script>
<script src="bower_components/angular/angular.js"></script>

<script>
// Wrapping in nv.addGraph allows for '0 timeout render', stores rendered charts in nv.graphs, and may do more in the future... it's NOT required
var chart;

nv.addGraph(function() {
  chart = nv.models.lineChart()
  .options({
    margin: {left: 100, bottom: 100},
    x: function(d,i) { return i},
    showXAxis: true,
    showYAxis: true,
    transitionDuration: 250
  })
  ;

  // chart sub-models (ie. xAxis, yAxis, etc) when accessed directly, return themselves, not the parent chart, so need to chain separately
  chart.xAxis
    .axisLabel('Gene Body Coverage %')
    .tickFormat(d3.format(',0f'));

  chart.yAxis
    .axisLabel('Reads %')
    .tickFormat(d3.format('%'))
    ;

  d3.select('#chart1 svg')
    .datum()
    .call(chart);

  //TODO: Figure out a good way to do this automatically
  nv.utils.windowResize(chart.update);
  //nv.utils.windowResize(function() { d3.select('#chart1 svg').call(chart) });

  chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });

  return chart;
});








function arraysToDataObject ( a, b ) {
    var out = [];
    for ( var i = 0 ; i < a.length ; i++ ) {
        out.push( { x: a[i], y: b[i] } );
    }
    return out;
}

function arraysToDataObject ( a, b, sum  ) {
    var out = [];
    for ( var i = 0 ; i < a.length ; i++ ) {
        out.push( { x: a[i], y: b[i]/sum } );
    }
    return out;
}

function showCovData(){
    var y = new Array (471902,786047,964667,1031781,1057305,1070423,1062078,1042048,1016496,984690,962016,934264,924620,894060,875525,863739,849177,827584,811569,792399,779791,778887,761370,761029,751206,736233,734086,733610,725557,713431,706466,703166,696671,696320,695436,684971,680311,675377,676047,677235,662735,653404,641320,639407,635448,628823,620465,622903,622678,622533,629728,627326,629852,619403,610033,606774,593889,586341,589046,583786,579641,568277,563160,560837,564608,568611,567553,564737,568077,573817,571973,565390,561014,560219,554658,551909,552883,557054,557822,563563,561584,560871,561028,565640,562297,561768,552283,544478,545748,547019,549939,546330,545019,538653,526598,513862,504610,487153,443981,381933,243949);
    var sum = 10567306;
    console.log (y.length);
    var x = new Array();
    for ( var i= 0 ; i <= 100 ; i++ ) {
        x.push (i);
    }
    series = {
        values : arraysToDataObject(x,y, sum),
        key: "41X1",
        color: "#ffaa55"
   }
    return [series];
}

</script>
</body>
</html>
